<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="register-container">
    <img src="assets/images/logo.jpeg" alt="Logo Ecuavías" class="logo" />

    <h1>Registro</h1>

    <form>
      <ion-item>
        <ion-label position="stacked">Nombre Completo</ion-label>
        <ion-input type="text" placeholder="Tu nombre completo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input type="email" placeholder="ejemplo@correo.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input type="password" placeholder="Tu contraseña"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-input type="password" placeholder="Repite tu contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" class="register-button" type="submit" (click)="register()">Registrarse</ion-button>
    </form>

    <div class="extra-links">
      <ion-text>
        <a href="/login">¿Ya tienes cuenta? Inicia sesión</a>
      </ion-text>
    </div>
  </div>
</ion-content>
